---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% for project in site.projects %}
{% unless project.next %}
  <h3>{{ project.date | date: '%Y' }}</h3>
{% else %}
  {% capture year %}{{ project.date | date: '%Y' }}{% endcapture %}
  {% capture nyear %}{{ project.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nyear %}
    <h3>{{ project.date | date: '%Y' }}</h3>
  {% endif %}
{% endunless %}
<li itemscope>
  <a href="{{ site.github.url }}{{ project.url }}">{{ project.title }}.</a> <br>
  <p class="post-date"><span><i class="fa fa-calendar" aria-hidden="true"></i> {{ project.date | date: "%B %-d" }} </span></p>
</li>
{% endfor %}

<ul class="projects-container">
  {% for project in site.projects %}
    {% unless project.next %}
      <h3>{{ project.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ project.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ project.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ project.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}
    <li itemscope>
      <a href="{{ site.github.url }}{{ project.url }}">{{ project.title }}.</a> <br>
      <p class="post-date"><span><i class="fa fa-calendar" aria-hidden="true"></i> {{ project.date | date: "%B %-d" }} </span></p>
    </li>
  {% endfor %}
</ul>
