---
layout: default
---

<table border="0" cellpadding="3" cellspacing="10">
	<tr>
	<td style="vertical-align:top">
		<img padding="0px 20px 15px 0px" src="images/dg.png"  width="110" height="inherit" border="1px" alt="">
	</td>
	<td>
    
    
		I'm an Assistant Professor at Simon Fraser University (SFU) and a Research Scientist at NVIDIA. I received a
		Ph.D. from UC Berkeley, advised by Professor <a href="https://people.eecs.berkeley.edu/~svlevine/">Sergey Levine</a>
		and Professor <a href="https://people.eecs.berkeley.edu/~pabbeel/">Pieter Abbeel</a>.
		Prior to that, I received an M.Sc from the University of British Columbia, advised by Professor <a href="https://www.cs.ubc.ca/~van/">Michiel van de Panne</a>. 
		My work lies in the intersection between computer graphics and machine learning, with a focus on reinforcement learning 
		for motion control of simulated characters. I have previously worked for Sony, Google Brain, OpenAI, Adobe Research, Disney Research, 
		Microsoft (343 Industries), and Capcom.
	</td>
	</tr>
</table>

<br>
<hr>

<h1>
  Publications
</h1>

{% for post in paginator.posts %}
  <div class="posts-container">
    <h2>
      <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
