---
layout: default
---

<table border="0" cellpadding="0" cellspacing="0">
	<tr>
	<td>
    		I'm a Ph.D. candidate in <a href="http://dyros.snu.ac.kr">DYROS LAB</a> at Seoul National University (SNU). 
		My research focuses on making our lives safer and more efficient using robotics and AI technologies. 
		I'm interested in applying machine learning techniques to the real humanoid robot 
		for collision handling, agile locomotion, and dexterous manipulation. 

	</td>
	<td style="vertical-align:top">
		<img padding="0px 0px 0px 0px" src="/assets/img/dg.jpg"  width="1300" height="inherit" alt="">
	</td>

	</tr>
</table>

<br>
<hr>

<h1>
  Publications
</h1>

{% for post in paginator.posts %}
  <div class="posts-container">
    <h3>
      {{ post.title }}. <br>
      <a style="color:#777; text-decoration: none;">{{ post.author }}. {{ post.journal }}.</a>
    </h3>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }}</span>
    </p>
  </div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
