---
layout: default
---

<table border="0" cellpadding="3" cellspacing="10">
	<tr>
	<td style="vertical-align:top">
		<img padding="0px 20px 15px 0px" src="images/dg.png"  width="110" height="inherit" border="1px" alt="">
	</td>
	<td>
    		I'm a Ph.d candidate 

	</td>
	</tr>
</table>

<br>
<hr>

<h1>
  Publications
</h1>

{% for post in paginator.posts %}
  <div class="posts-container">
    <h2>
      {{ post.title }}. {{ post.author }}. {{ post.journal }}
    </h2>
    {% if post.image %}
      <div class="thumbnail-container">
        <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
      </div>
    {% endif %}
    <p>
      {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
      <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
    </p>
  </div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
