---
layout: default
---

<h1>
  {{ page.title }}
</h1>
<a style="text-decoration: none;">{{ post.author }}. {{ post.journal }}.</a>
{% if page.note %}
  <h4>
    <a style="text-decoration: none;">{{page.note}}</a>
  </h4>
{% endif %}
{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}
<h4>
  <a href="{{ site.github.url }}/assets/{{ page.pdf }}">[PDF]</a>
</h4>
<hr>
<article>
  <h3>
    Abstract
  </h3>
  {{ content }}
</article>
{% if site.hide_post_date != true %}
  {% include post-date.html %}
{% endif %}
{% if site.hide_post_share != true %}
  {% include social-sharing.html %}
{% endif %}
{% if site.hide_related_posts != true %}
  {% include related-posts.html %}
{% endif %}
{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
